*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

hmtl{
    font-size: 100%;
}

.clear-fix{
    content: '';
    display: table;
    clear: both;
}

.overflow{
    overflow: hidden;
}

.main-container{
    margin: 0 auto;
    width: 80%;
}

.product-line-container{
    margin: 0 auto;
    margin-top: 1em;
}

.float{
    float: left;
}

.relative{
    position: relative;
}

img{
    width: 100%;
}

.margin-left-right{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.product{
    width: calc(33.33% - 1em);
}

.hover:hover{
    display: none;
}

.hover{
    z-index: 2;
}

.prod-one{ 
    position: absolute;
    top: 0;
    left: 0;
}

.prod-two{
    position: absolute;
    top: 0;
    left: 0;
    right: 20%;
}

.prod-three{
    position: absolute;
    top: 0%;
    right: 0;
}
.sale-price-fix{
    display: inline-block;
    text-decoration-line: line-through;
}

.red-sales{
    color: red;
    font-weight: bold;
}

h2{
    text-transform: uppercase;
    font-size: 1em;
}

.whishlist{
    position: absolute;
    top: 20px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    z-index: 3;
    text-align: center;
    font-size: 1.5em;
}

.whishlist span:hover{
   color: red;
}


.banner{
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 3; 
}

.sconto-red{
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0.3em; 
    margin-right: 0.3em;
}

.sus-green{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0.3em;
}